[submodule "modules/public/stdlib"]
	path = modules/public/stdlib
	url = https://git-ipuppet.immerda.ch/module-stdlib
[submodule "modules/public/yum"]
	path = modules/public/yum
	url = https://git-ipuppet.immerda.ch/module-yum
[submodule "modules/public/concat"]
	path = modules/public/concat
	url = https://git-ipuppet.immerda.ch/module-concat
[submodule "modules/public/which"]
	path = modules/public/which
	url = https://git-ipuppet.immerda.ch/module-which
[submodule "modules/public/screen"]
	path = modules/public/screen
	url = https://git-ipuppet.immerda.ch/module-screen
[submodule "modules/public/tmux"]
	path = modules/public/tmux
	url = https://git-ipuppet.immerda.ch/module-tmux
[submodule "modules/public/bash"]
	path = modules/public/bash
	url = https://git-ipuppet.immerda.ch/module-bash
[submodule "modules/public/crypto"]
	path = modules/public/crypto
	url = https://git-ipuppet.immerda.ch/module-crypto
[submodule "modules/public/tar"]
	path = modules/public/tar
	url = https://git-ipuppet.immerda.ch/module-tar
[submodule "modules/public/motd"]
	path = modules/public/motd
	url = https://git-ipuppet.immerda.ch/module-motd
[submodule "modules/public/ibp"]
	path = modules/public/ibp
	url = https://git-ipuppet.immerda.ch/module-ibp
[submodule "modules/public/virt"]
	path = modules/public/virt
	url = https://git-ipuppet.immerda.ch/module-virt
[submodule "modules/public/ssmtp"]
	path = modules/public/ssmtp
	url = https://git-ipuppet.immerda.ch/module-ssmtp
[submodule "modules/public/exim"]
	path = modules/public/exim
	url = https://git-ipuppet.immerda.ch/module-exim
[submodule "modules/public/sendmail"]
	path = modules/public/sendmail
	url = https://git-ipuppet.immerda.ch/module-sendmail
[submodule "modules/public/postfix"]
	path = modules/public/postfix
	url = https://git-ipuppet.immerda.ch/module-postfix
[submodule "modules/public/sudo"]
	path = modules/public/sudo
	url = https://git-ipuppet.immerda.ch/module-sudo
[submodule "modules/public/shorewall"]
	path = modules/public/shorewall
	url = https://git-ipuppet.immerda.ch/module-shorewall
[submodule "modules/public/sshd"]
	path = modules/public/sshd
	url = https://git-ipuppet.immerda.ch/module-sshd
[submodule "modules/public/puppet"]
	path = modules/public/puppet
	url = https://git-ipuppet.immerda.ch/module-puppet
[submodule "modules/public/logwatch"]
	path = modules/public/logwatch
	url = https://git-ipuppet.immerda.ch/module-logwatch
[submodule "modules/public/munin"]
	path = modules/public/munin
	url = https://git-ipuppet.immerda.ch/module-munin
[submodule "modules/public/vim"]
	path = modules/public/vim
	url = https://git-ipuppet.immerda.ch/module-vim
[submodule "modules/public/sysctl"]
	path = modules/public/sysctl
	url = https://git-ipuppet.immerda.ch/module-sysctl
[submodule "modules/public/fwtools"]
	path = modules/public/fwtools
	url = https://git-ipuppet.immerda.ch/module-fwtools
[submodule "modules/public/gpm"]
	path = modules/public/gpm
	url = https://git-ipuppet.immerda.ch/module-gpm
[submodule "modules/public/logrotate"]
	path = modules/public/logrotate
	url = https://git-ipuppet.immerda.ch/module-logrotate
[submodule "modules/public/lsb"]
	path = modules/public/lsb
	url = https://git-ipuppet.immerda.ch/module-lsb
[submodule "modules/public/mc"]
	path = modules/public/mc
	url = https://git-ipuppet.immerda.ch/module-mc
[submodule "modules/public/grub"]
	path = modules/public/grub
	url = https://git-ipuppet.immerda.ch/module-grub
[submodule "modules/public/cron_splay"]
	path = modules/public/cron_splay
	url = https://git-ipuppet.immerda.ch/module-cron_splay
[submodule "modules/public/rkhunter"]
	path = modules/public/rkhunter
	url = https://git-ipuppet.immerda.ch/module-rkhunter
[submodule "modules/public/denyhosts"]
	path = modules/public/denyhosts
	url = https://git-ipuppet.immerda.ch/module-denyhosts
[submodule "modules/public/mlocate"]
	path = modules/public/mlocate
	url = https://git-ipuppet.immerda.ch/module-mlocate
[submodule "modules/public/selinux"]
	path = modules/public/selinux
	url = https://git-ipuppet.immerda.ch/module-selinux
[submodule "modules/public/smartd"]
	path = modules/public/smartd
	url = https://git-ipuppet.immerda.ch/module-smartd
[submodule "modules/public/mdadm"]
	path = modules/public/mdadm
	url = https://git-ipuppet.immerda.ch/module-mdadm
[submodule "modules/public/rubygems"]
	path = modules/public/rubygems
	url = https://git-ipuppet.immerda.ch/module-rubygems
[submodule "modules/ibox"]
	path = modules/ibox
	url = https://git-ipuppet.immerda.ch/ibox-modules.git
[submodule "modules/public/certs"]
	path = modules/public/certs
	url = https://git-ipuppet.immerda.ch/module-certs.git
[submodule "modules/public/resolvconf"]
	path = modules/public/resolvconf
	url = https://git-ipuppet.immerda.ch/module-resolvconf.git
[submodule "modules/public/acpid"]
	path = modules/public/acpid
	url = https://git-ipuppet.immerda.ch/module-acpid.git
[submodule "modules/public/hal"]
	path = modules/public/hal
	url = https://git-ipuppet.immerda.ch/module-hal.git
[submodule "modules/public/haved"]
	path = modules/public/haveged
	url = https://git-ipuppet.immerda.ch/module-haveged.git
[submodule "modules/public/rsyslog"]
	path = modules/public/rsyslog
	url = https://git-ipuppet.immerda.ch/module-rsyslog.git
[submodule "modules/public/authconfig"]
	path = modules/public/authconfig
	url = https://git-ipuppet.immerda.ch/module-authconfig.git
[submodule "modules/public/etc_updates"]
	path = modules/public/etc_updates
	url = https://git-ipuppet.immerda.ch/module-etc_updates.git
[submodule "modules/public/dbus"]
	path = modules/public/dbus
	url = https://git-ipuppet.immerda.ch/module-dbus.git
[submodule "modules/public/abrt"]
	path = modules/public/abrt
	url = https://git-ipuppet.immerda.ch/module-abrt.git
[submodule "modules/public/kexec_tools"]
	path = modules/public/kexec_tools
	url = https://git-ipuppet.immerda.ch/module-kexec_tools.git
[submodule "modules/public/kudzu"]
	path = modules/public/kudzu
	url = https://git-ipuppet.immerda.ch/module-kudzu.git
[submodule "modules/public/readahead"]
	path = modules/public/readahead
	url = https://git-ipuppet.immerda.ch/module-readahead.git
[submodule "modules/public/avahi"]
	path = modules/public/avahi
	url = https://git-ipuppet.immerda.ch/module-avahi.git
[submodule "modules/public/autofs"]
	path = modules/public/autofs
	url = https://git-ipuppet.immerda.ch/module-autofs.git
[submodule "modules/public/iscsi"]
	path = modules/public/iscsi
	url = https://git-ipuppet.immerda.ch/module-iscsi.git
[submodule "modules/public/syslog"]
	path = modules/public/syslog
	url = https://git-ipuppet.immerda.ch/module-syslog.git
[submodule "modules/public/cups"]
	path = modules/public/cups
	url = https://git-ipuppet.immerda.ch/module-cups.git
[submodule "modules/public/chrony"]
	path = modules/public/chrony
	url = https://git-ipuppet.immerda.ch/module-chrony.git
[submodule "modules/public/ntp"]
	path = modules/public/ntp
	url = https://git-ipuppet.immerda.ch/module-ntp.git
[submodule "modules/public/keepalived"]
	path = modules/public/keepalived
	url = https://git-ipuppet.immerda.ch/module-keepalived.git
[submodule "modules/public/conntrackd"]
	path = modules/public/conntrackd
	url = https://git-ipuppet.immerda.ch/module-conntrackd.git
[submodule "modules/public/trocla"]
	path = modules/public/trocla
	url = https://git-ipuppet.immerda.ch/module-trocla
[submodule "modules/public/ruby"]
	path = modules/public/ruby
	url = https://git-ipuppet.immerda.ch/module-ruby
[submodule "modules/public/mysql"]
	path = modules/public/mysql
	url = https://git-ipuppet.immerda.ch/module-mysql
[submodule "modules/public/postgres"]
	path = modules/public/postgres
	url = https://git-ipuppet.immerda.ch/module-postgres
[submodule "modules/public/limits"]
	path = modules/public/limits
	url = https://git-ipuppet.immerda.ch/module-limits
[submodule "modules/public/disks"]
	path = modules/public/disks
	url = https://git-ipuppet.immerda.ch/module-disks
[submodule "modules/public/lvm"]
	path = modules/public/lvm
	url = https://git-ipuppet.immerda.ch/module-lvm
[submodule "modules/public/redis"]
	path = modules/public/redis
	url = https://git-ipuppet.immerda.ch/module-redis.git
[submodule "modules/public/redis_instance"]
	path = modules/public/redis_instance
	url = https://git-ipuppet.immerda.ch/module-redis_instance.git
[submodule "modules/public/dovecot"]
	path = modules/public/dovecot
	url = https://git-ipuppet.immerda.ch/module-dovecot.git
[submodule "modules/public/rpmkey"]
	path = modules/public/rpmkey
	url = https://git-ipuppet.immerda.ch/module-rpmkey.git
[submodule "modules/public/nagios"]
	path = modules/public/nagios
	url = https://git-ipuppet.immerda.ch/module-nagios.git
[submodule "modules/public/amavisd_new"]
	path = modules/public/amavisd_new
	url = https://git-ipuppet.immerda.ch/module-amavisd_new.git
[submodule "modules/public/clamav"]
	path = modules/public/clamav
	url = https://git-ipuppet.immerda.ch/module-clamav.git
[submodule "modules/public/spamassassin"]
	path = modules/public/spamassassin
	url = https://git-ipuppet.immerda.ch/module-spamassassin.git
[submodule "modules/public/exim_imap_auth"]
	path = modules/public/exim_imap_auth
	url = https://git-ipuppet.immerda.ch/module-exim_imap_auth.git
[submodule "modules/public/cdb"]
	path = modules/public/cdb
	url = https://git-ipuppet.immerda.ch/module-cdb.git
[submodule "modules/public/alternatives"]
	path = modules/public/alternatives
	url = https://git-ipuppet.immerda.ch/module-alternatives.git
[submodule "modules/public/pyzor"]
	path = modules/public/pyzor
	url = https://git-ipuppet.immerda.ch/module-pyzor.git
[submodule "modules/public/gpg"]
	path = modules/public/gpg
	url = https://git-ipuppet.immerda.ch/module-gpg.git
[submodule "modules/public/unzip"]
	path = modules/public/unzip
	url = https://git-ipuppet.immerda.ch/module-unzip.git
[submodule "modules/public/unrar"]
	path = modules/public/unrar
	url = https://git-ipuppet.immerda.ch/module-unrar.git
[submodule "modules/public/file_content"]
	path = modules/public/file_content
	url = https://git-ipuppet.immerda.ch/module-file_content.git
[submodule "modules/public/systemd"]
	path = modules/public/systemd
	url = https://git-ipuppet.immerda.ch/module-systemd.git
[submodule "modules/public/restartmonkey"]
	path = modules/public/restartmonkey
	url = https://git-ipuppet.immerda.ch/module-restartmonkey
[submodule "modules/public/dovecot_iauth"]
	path = modules/public/dovecot_iauth
	url = https://git-ipuppet.immerda.ch/module-dovecot_iauth
[submodule "modules/public/extlib"]
	path = modules/public/extlib
	url = https://git-ipuppet.immerda.ch/module-extlib.git
