---
# we have a shared ip on the default interface
sshd::shared_ip: true

# database servers
#ibox::types: ['dbserver']
#ib_postgres::server::admin_users:
#  'test2': {}
#ib_postgres::server::default_databases:
#  'test': {}
#ib_mysql::server::admin_users:
#  'user1': {}
#ib_mysql::server::default_databases:
#  'testdb1': {}
#  'testdb2': {}


# mailaccessproxy
#ibox::types: ['mailaccessproxy']
#ib_dovecot::proxy::sql_config:
#  dbhost: dbserver
#  dbname: maildb
#  dbuser: dovecot
#  dbpwd: supersecret
#  query: "SELECT NULL AS password, storagehost AS host, alias||'@'||domain AS destuser, 'Y' AS nologin, 'Y' AS nodelay, 'Y' AS proxy, 'Y' as nopassword FROM email_users WHERE alias = lower('%n') AND domain = lower('%d') AND deleted_at IS NULL AND ismailbox=1"

# mailstorage
#ibox::types: ['mailstorage']
#ib_dovecot::storage::sql_config:
#  dbhost: dbhost
#  dbname: maildb
#  dbloginuser: dovecot_update
#  dbloginpwd: supersecret1
#  dbexpireuser: dovecot_expire
#  dbexpirepwd:  supersecret2
